body {
  font-family: $font-family;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-light-1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.heading-primary {
  font-size: 5.5rem;
  font-weight: 600;
  display: inline-block;
  color: $color-grey-light-1;
  line-height: 1.2;

  @include respond(phone-big) {
    font-size: 3.4rem;
  }

  @include respond(phone-small) {
    font-size: 2.8rem;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.heading-secondary {
  font-size: 5.5rem;
  font-weight: 700;
  color: $color-grey-light-1;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 1.4;
  position: relative;

  @include respond(phone-big) {
    font-size: 2.8rem;
  }

  @include respond(phone-small) {
    font-size: 2.2rem;
  }
}

.heading-tertiary {
  font-size: 5.5rem;
  font-weight: 700;
  color: $color-primary-1;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 1.4;
  position: relative;

  @include respond(phone-big) {
    font-size: 4rem;
  }

  @include respond(phone-small) {
    font-size: 3.2rem;
  }
}

.heading-4 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1.4;
  position: relative;
  z-index: 1;

  @include respond(phone-big) {
    font-size: 2.4rem;
  }

  @include respond(phone-small) {
    font-size: 2.2rem;
  }
}

.heading-5 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
