//Colors
$color-primary-1: #9a83bd;
$color-primary-2: #414a9e;

$color-secondary-1: #346cb4;
$color-secondary-2: #346cb4;
$color-secondary-3: #2854a2;

$color-tertiary-1: #0c0e1b;
$color-tertiary-2: #080a14;
$color-tertiary-3: #080a14;

$color-accent: #3bb44a;
$color-error: #ff1610;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #b9b9b9;

$color-grey-dark-1: #333;
$color-grey-dark-2: #0b0b0b;

//Shadow
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);

//Font
$default-font-size: 1.7rem;
$font-family: 'Montserrat', sans-serif;
$font-display: 'Open Sans', sans-serif;

//Grid
$grid-width: 136.6rem;
