.social {
  &__link {
    text-decoration: none;
    color: $color-grey-light-1;

    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }

  &__icon {
    fill: $color-grey-light-1;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      opacity: 0.9;
      transform: translateY(-2px);
    }
  }

  &--mobile {
    display: none;

    @include respond(tab-port) {
      display: flex;
      flex: 1;
      margin-top: 3rem;
      align-items: flex-start;
    }
  }
}
